<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pharmacy.name %>
</p>

<p>
  <b>Company:</b>
  <%= @pharmacy.company_id %>
</p>


<%= link_to 'Edit', edit_company_pharmacy_path(@company, @pharmacy) %> |
<%= link_to 'Back', company_pharmacies_path(@company) %>
